<mat-card class="item-card" style="display: flex">
    <div flex fxLayout="column" fxLayoutAlign="space-between" style="flex: 1;">
        <div flex fxLayout="column" style="overflow: auto">
            <mat-card-title>{{item.name}}</mat-card-title>
            <mat-card-subtitle>
                {{getItemTypeLabel(item.type)}}, {{getItemAvailabilityLabel(item.availability)}}
                {{getItemAttunementLabel(item)}}
            </mat-card-subtitle>
            <mat-card-content style="overflow: auto" [innerHtml]="getItemDescription(item.description)">
            </mat-card-content>
        </div>
        <div flex fxLayout="row" fxLayoutAlign="flex-end center">
            <button mat-button (click)="editItem()">Edit</button>
            <button *ngIf="item.claimedBy" mat-button (click)="releaseItem()">Release</button>
            <button *ngIf="!item.claimedBy" mat-button (click)="claimItem()">Claim</button>
        </div>
    </div>
</mat-card>