<mat-toolbar color="primary" style="display: flex">
    <div flex fxLayoutAlign="space-between center" fxFill>
        <div>
            <button mat-button (click)="goHome()" style="font-size: 20px">Home</button>
        </div>
        <div *ngIf="!loggedIn">
            <button mat-button (click)="goToRegister()" style="font-size: 20px">Register</button>
            <button mat-button (click)="goToLogIn()" style="font-size: 20px">Log In</button>
        </div>
        <div *ngIf="loggedIn" flex fxLayoutAlign="center center">
            <span>Hi, {{profile.firstName}}</span>
            <button mat-icon-button [matMenuTriggerFor]="profileMenu">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #profileMenu flex fxLayout="column">
                <div flex fxLayout="column">
                    <button mat-button (click)="goToDetails()">Details</button>
                    <button mat-button (click)="logout()">Log Out</button>
                </div>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>