<div flex fxLayout="column" *ngIf="game" style="flex: 1">
    <div *ngFor="let user of game.invitees">{{user.email}}</div>
    <div>
        <mat-form-field>
            <mat-label>Invite E-Mail</mat-label>
            <input matInput type="text" [(ngModel)]="inviteEmail" />
        </mat-form-field>
    </div>
    <button mat-button (click)="inviteToGame()">Invite</button>
</div>