<h1 mat-dialog-title>Add Item</h1>
<div mat-dialog-content>
    <mat-form-field class="add-item-field">
        <input matInput placeholder="Name" [(ngModel)]="item.name">
    </mat-form-field>
    <mat-form-field class="add-item-field">
        <textarea matInput placeholder="Description" [(ngModel)]="item.description"></textarea>
    </mat-form-field>
    <mat-form-field class="add-item-field">
        <input matInput placeholder="Quantity" [(ngModel)]="item.quantity" type="number">
    </mat-form-field>
    <mat-form-field class="add-item-field">
        <mat-label>Type</mat-label>
        <mat-select [(ngModel)]="item.type">
            <mat-option *ngFor="let itemType of itemTypes" [value]="itemType.value">{{itemType.label}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="add-item-field">
        <mat-label>Availability</mat-label>
        <mat-select [(ngModel)]="item.availability">
            <mat-option *ngFor="let itemAvailability of itemAvailabilities" [value]="itemAvailability.value">
                {{itemAvailability.label}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div flex fxLayout="column">
        <mat-checkbox [(ngModel)]="item.magical">Magical</mat-checkbox>
        <mat-checkbox [(ngModel)]="item.requiresAttunement">Requires Attunement</mat-checkbox>
    </div>
    <mat-form-field class="add-item-field">
        <mat-label>Attunement Restrictions</mat-label>
        <input matInput placeholder="(e.g. Sorcerer, Druid, Spellcaster)" [(ngModel)]="item.attunementRestrictions">
    </mat-form-field>
</div>
<div mat-dialog-actions style="display: flex; justify-content: flex-end">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button [mat-dialog-close]="item">Create</button>
</div>