<h1 mat-dialog-title>Add Character</h1>
<div mat-dialog-content>
    <mat-form-field class="add-character-field">
        <input matInput placeholder="Name" [(ngModel)]="character.name">
    </mat-form-field>
</div>
<div mat-dialog-actions style="display: flex; justify-content: flex-end">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button [mat-dialog-close]="character">Create</button>
</div>