<ng-container *ngIf="game">
    <h1>{{game.title}}</h1>
    <mat-tab-group style="flex: 1">
        <mat-tab style="flex: 1" label="Characters">
            <div flex style="flex: 1" fxLayout="column" class="details-panel">
                <mat-toolbar color="accent" style="height:40px" flex fxLayoutAlign="flex-end center">
                    <button mat-icon-button class="card-button" (click)="openAddCharacterDialog()">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-toolbar>
                <div flex fxLayout="row wrap">
                    <mat-card class="game-card" *ngFor="let character of characters" flex fxLayout="column"
                        fxLayoutAlign="space-between">
                        <mat-card-title>{{character.name}}</mat-card-title>
                    </mat-card>
                </div>
            </div>
        </mat-tab>
        <mat-tab style="flex: 1" label="Items">
            <mat-tab-group>
                <mat-tab label="Unclaimed">
                    <div flex fxLayout="column" class="details-panel" style="flex: 1; overflow: hidden">
                        <mat-toolbar color="accent" style="height:40px" flex fxLayoutAlign="space-between center">
                            <mat-form-field>
                                <mat-label>Claimant</mat-label>
                                <mat-select [(ngModel)]="claimant">
                                    <mat-option *ngFor="let character of userCharacters" [value]="character">
                                        {{character.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button mat-icon-button class="card-button" (click)="openAddItemDialog()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </mat-toolbar>
                        <div flex fxLayout="row wrap" style="overflow: auto">
                            <app-item-card *ngFor="let item of unclaimedItems" [item]="item" (save)="saveItem($event)"
                                (claim)="claimItem(item)"></app-item-card>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab *ngFor="let character of characters" [label]="character.name">
                    <div flex fxLayout="column" class="details-panel" style="flex: 1; overflow: auto;">
                        <mat-toolbar color="accent" style="height:40px" flex fxLayoutAlign="flex-end center">
                        </mat-toolbar>
                        <div flex fxLayout="row wrap" style="flex: 1">
                            <app-item-card *ngFor="let item of claimedItems[character._id]" [item]="item"
                                (save)="saveItem($event)" (release)="releaseItem(item, character._id)">
                            </app-item-card>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-tab>
    </mat-tab-group>
</ng-container>