.details-panel{
    overflow: auto; 
    flex: 1; 
    margin: 10px;
    background-color: rgb(226, 226, 226);
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);  
    -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);    
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
}

.game-card{
    width: 180px;
    height: 200px;
    margin: 10px;
}

.game-card mat-card-title{
    font-size: 16px;
}

.card-button{
    margin: 2px;
}