<div class="profile-wrapper" flex fxLayout="column" fxLayoutAlign="center center" style="flex: 1" *ngIf="user">
    <mat-card fxFlex="90">
        <mat-list>
            <mat-list-item>
                <mat-icon mat-list-icon>face</mat-icon>
                <h4 mat-line>{{user.firstName + " " + user.lastName}}</h4>
                <p mat-line>Name</p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>email</mat-icon>
                <h4 mat-line>{{user.email}}</h4>
                <p mat-line>E-Mail</p>
            </mat-list-item>
        </mat-list>
        <h4>Invites</h4>
        <mat-list>
            <mat-list-item *ngFor="let invite of user.invites">
                <h4 mat-line>{{invite.title}}</h4>
                <button mat-button (click)="acceptInvite(invite._id)">Accept</button>
            </mat-list-item>
        </mat-list>
    </mat-card>
</div>