<div flex fxLayoutAlign="center center" style="flex: 1">
    <mat-card flex fxLayout="column" fxLayoutAlign="center space-between" style="min-width: 350px; overflow: auto">
        <div flex fxLayout="column">
            <mat-form-field>
                <input matInput placeholder="E-Mail Address" [(ngModel)]="email" type="email">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password" [(ngModel)]="password" type="password">
            </mat-form-field>
        </div>
        <div flex>
            <button mat-raised-button color="primary" (click)="login()" fxFill>Log In</button>
        </div>
    </mat-card>
</div>