<div flex fxLayout="column" style="flex: 1">
    <div flex fxLayout="column" class="game-panel">
        <mat-toolbar color="accent" style="height:40px" flex fxLayoutAlign="flex-end center">
            <button mat-icon-button class="card-button" (click)="openAddGameDialog()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-toolbar>
        <div flex fxLayout="row wrap" style="flex: 1">
            <mat-card *ngFor="let game of games" class="game-card" flex fxLayout="column" fxLayoutAlign="space-between">
                <div>
                    <mat-card-title>{{game.title}}</mat-card-title>
                    <mat-card-subtitle>{{game.system}}</mat-card-subtitle>
                    <mat-card-content>{{game.description}}</mat-card-content>
                </div>
                <div>
                    <button mat-stroked-button class="card-button" color="primary" (click)="selectGame(game._id)">
                        Details
                    </button>
                    <button mat-stroked-button class="card-button" color="primary" (click)="goToUserList(game._id)">
                        Users
                    </button>
                    <button mat-stroked-button class="card-button" color="primary">
                        Edit
                    </button>
                    <button mat-stroked-button class="card-button" color="primary">
                        Delete
                    </button>
                </div>
            </mat-card>
        </div>
    </div>
</div>