@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

$lt-app-primary: mat-palette($mat-purple);

$lt-app-accent:  mat-palette($mat-purple, 100);

// The warn palette is optional (defaults to red).
$lt-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$lt-app-theme: mat-light-theme($lt-app-primary, $lt-app-accent, $lt-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($lt-app-theme);

.selected-head {
    background: mat-color($lt-app-accent,500);
}
.selected-head:hover {
    background: mat-color($lt-app-accent,600);
}
.selected-body {
    background: mat-color($lt-app-accent,50);
}
.selected-body:hover {
    background: mat-color($lt-app-accent,100);
}
.child-selected-head {
    background: mat-color($lt-app-accent,A100);
}
.child-selected-head:hover {
    background: mat-color($lt-app-accent,A200);
}
.bg-light{    
    //background: mat-color($lt-app-accent,100);
    
    background: whitesmoke;
}
.brd-light{    
    border-color: mat-color($lt-app-accent,100);
}
.bg-plain{
    background: whitesmoke;
}