/* You can add global styles to this file, and also import other style files */
@import "./purple-theme.scss";

html{
    width: 100vw;
    height: 100vh;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.component-host{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    overflow: hidden;
}

.app-root{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.mat-tab-body-wrapper{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.mat-tab-body-content{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.mat-tab-group{
    flex: 1;
    overflow: hidden;
}