<div flex fxLayout="column" fxLayoutAlign="center center" style="flex: 1">
    <mat-card flex fxLayout="column" fxLayoutAlign="space-between center" style="overflow: auto">
        <mat-card-content flex fxLayout="column" style="min-width: 350px">
            <mat-form-field>
                <input matInput placeholder="E-Mail Address" [(ngModel)]="email">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password" [(ngModel)]="password" type="password">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="First Name" [(ngModel)]="firstName">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Last Name" [(ngModel)]="lastName">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Organisation" [(ngModel)]="organisation">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions flex fxLayoutAlign="center center" style="width: 100%">
            <button fxFill mat-raised-button color="primary" (click)="register()">Register</button>
        </mat-card-actions>
    </mat-card>
</div>