<h1 mat-dialog-title>Add Game</h1>
<div mat-dialog-content>
    <mat-form-field class="add-game-field">
        <input matInput placeholder="Title" [(ngModel)]="game.title">
    </mat-form-field>
    <mat-form-field class="add-game-field">
        <input matInput placeholder="System" [(ngModel)]="game.system">
    </mat-form-field>
    <mat-form-field class="add-game-field">
        <textarea matInput placeholder="Description" [(ngModel)]="game.description"></textarea>
    </mat-form-field>
</div>
<div mat-dialog-actions style="display: flex; justify-content: flex-end">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button [mat-dialog-close]="game">Create</button>
</div>