<mat-toolbar color="secondary">
    <button mat-button [matMenuTriggerFor]="gameMenu">{{selectedGame ? selectedGame.title : 'Select a Game'}}</button>
    <mat-menu #gameMenu="matMenu">
        <button mat-menu-item (click)="selectGame(undefined)">None</button>
        <button mat-menu-item *ngFor="let game of games" (click)="selectGame(game._id)">{{game.title}}</button>
        <button mat-menu-item (click)="openAddGameDialog()">+ Add Game</button>
    </mat-menu>
</mat-toolbar>